In [57]:
import os
import pandas as pd

In [58]:
def get_final_files(directory):
    final_file_paths = []
    for root, dirs, files in os.walk(directory):
        for file in files:
            if file.endswith('.final'):
                file_path = os.path.join(root, file)
                final_file_paths.append(file_path)
    return final_file_paths

In [59]:
all_files_dev = get_final_files('../data/dev/')
all_files_test = get_final_files('../data/test/')
all_files_train = get_final_files('../data/train/')

In [60]:
all_files_dev

['../data/dev/2009\\2009-35-4-597-635.final',
 '../data/dev/2010\\2010-36-1-1-30.final',
 '../data/dev/2011\\2011-37-3-421-454.final',
 '../data/dev/2012\\2012-38-4-867-915.final',
 '../data/dev/2013\\2013-39-1-15â€“22.final',
 '../data/dev/2014\\2014-40-2-449-468.final',
 '../data/dev/2015\\2015-41-3-355-383.final',
 '../data/dev/2016\\2016-42-4-727-761.final',
 '../data/dev/2017\\2017-43-1-31-70.final',
 '../data/dev/2018\\2018-44-1-119-186.final',
 '../data/dev/2019\\2019-45-2-293-337.final',
 '../data/dev/2020\\2020-46-3-605-665.final',
 '../data/dev/2021\\2021-47-1-9-42.final',
 '../data/dev/2022\\2022-48-2-375-401.final',
 '../data/dev/2022\\2022-48-4-887-906.final',
 '../data/dev/2023\\2023-49-2-395-427.final',
 '../data/dev/2023\\2023-49-4-943-1001.final',
 '../data/dev/2024\\2024-50-2-419-473.final']

In [61]:
def read_all_files(file):
    df = pd.read_csv(file, on_bad_lines='skip',encoding='ISO-8859-1', sep=r'\t| +', engine='python', header=None)
    df = df.rename(columns={0: 'token', 1: 'label'})
    df = df.dropna(subset=['label'])
    if df.columns.__len__() > 2:
        df = df[['token', 'label']]
    return df

### Dev Dataset

In [62]:
dev_df = pd.concat([read_all_files(file) for file in all_files_dev])

In [63]:
dev_df['label'].value_counts()

label
O    2499
I     399
B     393
b       1
Name: count, dtype: int64

### Train Dataset

In [64]:
train_df = pd.concat([read_all_files(file) for file in all_files_train])

In [65]:
train_df['label'].value_counts()

label
O     20084
I      3409
B      3247
II        1
b         1
Name: count, dtype: int64

In [66]:
train_df['label'] = train_df['label'].replace('II', 'I')
train_df['label'] = train_df['label'].replace('b', 'B')

In [67]:
train_df.head()

     token label
0       In     O
1     this     O
2  article     O
3       we     O
4  discuss     O

### Test Dataset

In [68]:
test_df = pd.concat([read_all_files(file) for file in all_files_test])

In [69]:
test_df['label'].value_counts()

label
O    2969
I     480
B     445
0       2
i       2
o       1
Name: count, dtype: int64

In [70]:
test_df['label'] = test_df['label'].replace('0', 'O')
test_df['label'] = test_df['label'].replace('o', 'O')

In [71]:
test_df.head()

         token label
0      Systems     O
1        based     O
2           on     O
3  synchronous     B
4     grammars     I